
/** banner-section **/

.banner-section{
  padding: 384px 0px 380px 0px;
  background: #001C3D;
}

.banner-section .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.banner-section .content-box{
  position: relative;
  display: block;
}

.banner-section .content-box .date{
  position: relative;
  display: inline-block;
  font-size: 24px;
  line-height: 30px;
  font-family: var(--secondary-font);
  color: #fff;
  font-weight: 500;
  padding-left: 40px;
  margin-bottom: 15px;
}

.banner-section .content-box .date img{
  position: absolute;
  left: 0px;
  top: 1px;
}

.banner-section .content-box h2{
  position: relative;
  display: block;
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  margin-bottom: 32px;
}

.banner-section .content-box h2 span{
  display: block;
  font-weight: 300;
}

.banner-section .social-links{
  position: absolute;
  left: 60px;
  bottom: 50px;
  display: flex;
  align-items: center;
}

.banner-section .social-links li{
  margin-right: 50px;
}

.banner-section .social-links li:last-child{
  margin: 0px !important;
}

.banner-section .social-links li a{
  position: relative;
  display: inline-block;
  font-size: 25px;
  line-height: 40px;
  font-family: var(--secondary-font);
  color: #fff;
  font-weight: 500;
  padding-left: 50px;
}

.banner-section .social-links li a:hover{
  
}

.banner-section .social-links li a i{
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border-radius: 50%;
  background: #3A559F;
}

.banner-section .social-links li:nth-child(2) a i{
  background: #26A6D1;
}

.banner-section .social-links li:nth-child(3) a i{
  background: #007AB9;
}

.banner-section .pattern-layer .pattern-1{
  position: absolute;
  left: 460px;
  top: 272px;
  width: 130px;
  height: 115px;
  background-repeat: no-repeat;
}

.banner-section .pattern-layer .pattern-2{
  position: absolute;
  top: 260px;
  right: 253px;
  width: 67px;
  height: 67px;
  background-repeat: no-repeat;
}

.banner-section .pattern-layer .pattern-3{
  position: absolute;
  right: 723px;
  bottom: 386px;
  width: 83px;
  height: 102px;
  background-repeat: no-repeat;
}

.banner-section .pattern-layer .pattern-4{
  position: absolute;
  right: 63px;
  bottom: 317px;
  width: 138px;
  height: 138px;
  background-repeat: no-repeat;
}


/** banner-style-two **/

.banner-style-two{
  position: relative;
}

.banner-carousel .slide-item{
  position: relative;
  padding: 333px 0px 324px 0px;
}

.banner-carousel .slide-item:before{
  position: absolute;
  content: '';
  background: #001C3D;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.8;
  z-index: 1;
}
  
.banner-carousel .content-box{
  position: relative;
  display: block;
  z-index: 5;
  max-width: 550px;
}
  
.banner-carousel .slide-item .bg-layer{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
  -webkit-transition: all 8000ms linear;
  -moz-transition: all 8000ms linear;
  -ms-transition: all 8000ms linear;
  -o-transition: all 8000ms linear;
  transition: all 8000ms linear;
}
  
.banner-carousel .active .slide-item .bg-layer{
  -webkit-transform:scale(1.25);
  -ms-transform:scale(1.25);
  transform:scale(1.25);
}

.banner-carousel .content-box .date{
  position: relative;
  display: inline-block;
  font-size: 24px;
  line-height: 30px;
  font-family: var(--secondary-font);
  color: #fff;
  font-weight: 500;
  padding-left: 40px;
  margin-bottom: 15px;
  opacity: 0;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.banner-carousel .content-box .date img{
  position: absolute;
  left: 0px;
  top: 2px;
}
  
.banner-carousel .active .content-box .date{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 700ms;
  -moz-transition-delay: 700ms;
  -ms-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
}
  
.banner-carousel .content-box h2{
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.banner-carousel .content-box h2 span{
  font-weight: 300;
}
  
.banner-carousel .active .content-box h2{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 700ms;
  -moz-transition-delay: 700ms;
  -ms-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
}
  
.banner-carousel .content-box p{
  margin-bottom: 32px;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box p{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
  
.banner-carousel .content-box .btn-box{
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box .btn-box{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1300ms;
  -moz-transition-delay: 1300ms;
  -ms-transition-delay: 1300ms;
  -o-transition-delay: 1300ms;
  transition-delay: 1300ms;
}

.banner-carousel .slide-item .pattern-layer .pattern-1{
  position: absolute;
  left: 30px;
  bottom: 140px;
  width: 140px;
  height: 140px;
  background-repeat: no-repeat;
  z-index: 1;
}

.banner-carousel .slide-item .pattern-layer .pattern-2{
  position: absolute;
  left: 512px;
  bottom: 299px;
  width: 83px;
  height: 102px;
  background-repeat: no-repeat;
  z-index: 1;
}

.banner-carousel .slide-item .pattern-layer .pattern-3{
  position: absolute;
  top: 194px;
  right: 476px;
  width: 139px;
  height: 100px;
  background-repeat: no-repeat;
  z-index: 1;
}

.banner-carousel .slide-item .pattern-layer .pattern-4{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 177px;
  height: 177px;
  background-repeat: no-repeat;
  z-index: 1;
}

.banner-carousel .slide-item .pattern-layer .pattern-5{
  position: absolute;
  right: 0px;
  bottom: 30px;
  width: 130px;
  height: 144px;
  background-repeat: no-repeat;
  z-index: 1;
}

.banner-carousel .slide-item .pattern-layer .pattern-6{
  position: absolute;
  right: 212px;
  bottom: 96px;
  width: 326px;
  height: 699px;
  background-repeat: no-repeat;
  z-index: 1;
}


/** banner-style-three **/

.banner-style-three{
  position: relative;
  padding-left: 395px;
  padding-right: 30px;
}

.banner-style-three .upper-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 110px 0px 60px 0px;
}

.banner-style-three .upper-box h2{
  display: block;
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  max-width: 535px;
}

.banner-style-three .upper-box p{
  font-size: 18px;
  font-weight: 600;
  max-width: 675px;
}

.banner-style-three .slider-inner .bg-layer{
  position: relative;
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-three .nav-style-one .owl-nav{
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -25px;
  width: 100%;
}

.banner-style-three .nav-style-one .owl-nav .owl-prev{
  position: absolute;
  left: 30px;
  background: #fff;
}

.banner-style-three .nav-style-one .owl-nav .owl-next{
  position: absolute;
  right: 30px;
  background: #fff;
}

.banner-style-three .nav-style-one .owl-nav button:hover{
  color: #fff;
}


/** banner-style-four **/

.banner-style-four{
  position: relative;
  padding: 336px 0px 375px 0px;
  overflow: hidden;
}

.banner-style-four .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-four .bg-layer:before{
  position: absolute;
  content: '';
  background: #001C3D;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.75;
}

.banner-style-four .content-box .date{
  position: relative;
  display: inline-block;
  font-size: 24px;
  line-height: 30px;
  font-family: var(--secondary-font);
  color: #fff;
  font-weight: 500;
  padding-left: 40px;
  margin-bottom: 15px;
}

.banner-style-four .content-box .date img{
  position: absolute;
  left: 0px;
  top: 1px;
}

.banner-style-four .content-box h2{
  position: relative;
  display: block;
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  margin-bottom: 32px;
}

.banner-style-four .content-box h2 span{
  position: relative;
  display: block;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.banner-style-four .cs-countdown{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-style-four .cs-countdown .count-col{
  position: relative;
  display: inline-block;
  margin-right: 50px;
  padding: 10px 30px;
}

.banner-style-four .cs-countdown .count-col:before{
  position: absolute;
  content: ':';
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  font-weight: 700;
  top: 22px;
  right: -29px;
}

.banner-style-four .cs-countdown .count-col:last-child:before{
  display: none;
}

.banner-style-four .cs-countdown .count-col:last-child{
  margin: 0px !important;
}

.banner-style-four .cs-countdown .count-col span{
  position: relative;
  display: block;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
  color: #fff;
}

.banner-style-four .cs-countdown .count-col h6{
  position: relative;
  font-size: 16px;
  line-height: 29px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
}

.banner-style-four .pattern-layer .pattern-1{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-four .pattern-layer .pattern-2{
  position: absolute;
  left: 0px;
  bottom: -55px;
  width: 100%;
  height: 118px;
  background-repeat: repeat-x;
  z-index: 1;
}

.banner-style-four .pattern-layer .pattern-3{
  position: absolute;
  left: -30px;
  bottom: 0px;
  width: 238px;
  height: 538px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 8s infinite linear;
  animation: zoom-fade 8s infinite linear;
}

.banner-style-four .pattern-layer .pattern-4{
  position: absolute;
  top: -30px;
  right: 0px;
  width: 563px;
  height: 380px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 10s infinite linear;
  animation: zoom-fade 10s infinite linear;
}


.banner-style-four .pattern-layer .pattern-5{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 524px;
  height: 398px;
  background-repeat: no-repeat;
}

.banner-style-four .pattern-layer .pattern-6{
  position: absolute;
  left: 78px;
  top: 237px;
  width: 169px;
  height: 271px;
  background-repeat: no-repeat;
}

.banner-style-four .curve-text{
  position: absolute;
  bottom: 50px;
  right: 70px;
  text-align: center;
  width: 179px;
  height: 179px;
  text-align: center;
}

.banner-style-four .curve-text .curved-circle{
  position: absolute;
  top: -30px;
  left: 60px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.banner-style-four .curve-text .icon-box{
  position: absolute;
  left: 13px;
  top: 3px;
  width: 94px;
  height: 94px;
  line-height: 94px;
  text-align: center;
  border-radius: 50%;
}


/** rtl-css **/

.rtl .banner-carousel .content-box{
  text-align: right;
}

.rtl .banner-style-four .cs-countdown .count-col{
  margin-right: 0px;
  margin-left: 50px;
}

.rtl .banner-style-four .cs-countdown .count-col:before{
  right: inherit;
  left: -29px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){
  .banner-style-three{
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner-style-three .upper-box{
    display: block;
  }

  .banner-style-three .upper-box{
    padding-top: 160px;
  }

  .banner-style-three .upper-box h2{
    max-width: 100%;
    margin-bottom: 30px;
  }

  .banner-style-three .upper-box p{
    max-width: 100%;
  }

  .banner-style-three .upper-box p br{
    display: none;
  }
}

@media only screen and (max-width: 991px){
  .banner-section{
    padding: 220px 0px 150px 0px;
  }

  .banner-carousel .slide-item .pattern-layer{
    display: none;
  }
}

@media only screen and (max-width: 767px){
  .banner-section .content-box h2,
  .banner-carousel .content-box h2,
  .banner-style-three .upper-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .banner-carousel .slide-item{
    padding: 200px 0px 100px 0px;
  }

  .banner-style-three .slider-inner .bg-layer{
    height: 500px;
  }

  .banner-style-four .pattern-layer{
    display: none;
  }

  .banner-style-four{
    padding: 200px 0px 100px 0px;
  }

  .banner-style-four .curve-text{
    display: none;
  }

  .banner-style-four .content-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .banner-style-four .cs-countdown{
    display: block;
    text-align: center;
  }

  .banner-style-four .cs-countdown .count-col{
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){

}









































